{%extends 'chatsite/layout.html'%}
{%block title%} about{% endblock %}
{%block body%}
<style>
    h3{background-color:#ffccff;
    opacity:0.9;}
</style>
<h1>This is my first python based web frame project.</h1>
<h3>
    In this site</br>
    first of all you have to register yourself though a unique username and password.</br>
    After that you can post anything from your imagination(poems,quotes,etc)</br>
    and that will be seen by all the registered users and</br>
    ofcourse your username will be associated with that post.</br></br>

</h3>
</br>
<h3>
    Also you can search if some user has been registered or not.
</h3>
</br>
<h3>
    <ul>
        <li>Front-end:html,css</li></br>
        <li>Back-end:Django,sqlite</li>
    </ul>
</h3>
</br>

</br>
{%endblock%}